* {padding: 0;margin: 0;border: 0;}
*, *:before, :after {-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    overflow: hidden;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;;transition: .7s;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}

@font-face {
    font-family: 'anton';
    src: url('../Anton-Regular.ttf');
} 
    
@font-face {
    font-family: 'sans';
    src: url('../OpenSans-Regular.ttf');
} 


.header{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    transition: 1s;
    color: white;
    background-image: url('../image/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'anton';
    text-transform: uppercase;
    top: 0;
/**/
    opacity: 1;
/**/
}

header{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    padding-top: 57px;
}
.link{
    display: flex;
    width: 30%;
}

.menu{
    width: 90%;
    margin-left: 69px;
    display: flex;
    justify-content: space-between;
}

.menu__item a {
    transition: .7s;
    color: white; 
    font-size: 14px;
    line-height: 3.8em;
    letter-spacing: 0.1em;
    margin-top: 15px;
}

.menu__item a:hover{
    transition: all .7s;
    background-image: linear-gradient(90deg, #ee8877, #e6d32f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact{
    line-height: 3em;
    font-size: 17px;
    text-align: right;
    letter-spacing: 0.1em;
    margin-left: 15px;
}

.block{
    width: 80%;
    margin: 0 auto;
    padding-top: 216px;
}

.block__suptitle{
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.1em;
}

.block__title{
    font-size: 100px;
    line-height: 151%;

}

.block__btn{
    margin-top: 19px;
    padding: 18px 23px 17px 0;
}

.block__btn a{
    padding: 18px 23px 17px 23px;
    font-size: 17px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.block__btn a:hover{
    background-image: linear-gradient(90deg, #ee8877, #e6d32f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #ee8877;
   
}

.about{
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: 1s;
    z-index: 100;
    background-color: white;
    color: black;
    font-family: 'anton';

    top: 100vh;

    opacity: 0;

}

main{
    width: 80%;
    margin: 0 auto;

}

.about__title{
    margin: 103px 0 55px 0;
    font-size: 50px;
    line-height: 150%;
    text-transform: uppercase; 
}

.about__posts{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post{
    width: 48%;
    position: relative;
}

.post__title{
    font-size: 25px;
    line-height: 152%;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.post__text{
    font-family: 'sans';
    font-size: 16px;
    line-height: 162%;
    text-align: justify;
}

.post__gallery{
    width: 100%;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.postGallery{
    margin-top: 33px;
}

.postGallery img{
    width: 100%;
}

.post__gallery img{
    width: 47%;
}

.footer{
    transition: 1s;
    position: absolute;
    font-family: 'sans';
    padding: 60px 0;
    width: 100vw;
    height: 10vh;
    background-color: #FFFFFF;
    color: black;
    z-index: 1000;
    box-shadow: 0px -2px 7px rgb(190, 190, 190);

    bottom: -100vh;

    opacity: 0;

}

footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.copyright{
    font-size: 15px;
    line-height: 133%;
}

.avtor{
    font-size: 15px;
    line-height: 133%;
    margin-left: 55px;
}

.avtor a:hover{
    color: rgb(80, 163, 24);
}

@media (max-width:1280px) {
    .link{
        width: 50%;
    }
    .menu{
        width: 100%;
    }
}


@media (max-width:750px) {
    .link{
        width: 75%;
    }
    .menu{
        margin-left: 16px;
    }
    .contact{
        letter-spacing: 0;
    }
}


@media (max-width:750px) {
    .link {
        width: 60%;
    }

    .menu {
        margin-left: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .contact {
        margin-left: 0;
    }
}
